<div class="login-wrapper">
  <div class="login-card">
    <h2>Entrar na Biblioteca</h2>
    
    <div class="form-group">
      <label for="email">Email</label>
      <input 
        id="email"
        type="email" 
        [(ngModel)]="email" 
        placeholder="admin@library.com"
      >
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input 
        id="password"
        type="password" 
        [(ngModel)]="password" 
        placeholder="******"
        (keyup.enter)="onLogin()" 
      >
    </div>
    <button class="btn-primary full-width" (click)="onLogin()">
      Acessar Sistema
    </button>

    <p class="hint">
        Não tem conta? <a routerLink="/register">Crie Agora</a>
    </p>
  </div>
</div>